/vendor
/node_modules
/public/assets
/public/build

Homestead.yaml
Homestead.json
.env
.idea
.phpstorm*
popshop.sublime-project
popshop.sublime-workspace
_ide_helper*
npm-debug.log
phpspec.yml
phpunit.xml
.DS_Store
