.btn{
    margin-right: 10px;
}
li.picture-list {
    float: left;
    position: relative;
    width: 200px;
    border: 1px solid #E7E7EB;
    list-style: none;
    margin: 10px 10px 15px 10px;
}

li.picture-list img.picture-list-img {
    width: 100%;
    height: 200px;
}

li.picture-list span.picture-name {
    display: block;
    line-height: 32px;
}

li.picture-list a.picture-remove {
    line-height: 22px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 0 5px;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

/*超大模态框 modal*/
.modal-xlg {
    width: 1500px;
}